@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

html {
  scroll-behavior: smooth;
}

:root {
  --link-color: #3e0eff;
  --main-bg-color: #f0e7db;
  --main-txt-color: #1a202c;
  /* --main-secondary-color:#f5f0e8; */
  --main-secondary-color: rgba(255,255,255,0.5);
  --dark-bg-color: #242424;
  --dark-txt-color: #ededed;
  --dark-link-color: #89ceff;
}

body {
  background-color: var(--main-bg-color);
}

body.dark {
  background-color: var(--dark-bg-color);
}

.phone-nav, .phone-nav-container, .mobile-menu {
  display: none;
}

/* Loader */

.spinner-loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0px;
  top: 0px;
  background-color: var(--dark-bg-color);
  z-index: 10;
  display: flex;
  transform-origin: top;
  transition: transform 1s;
  justify-content: center;
  align-items: center;
  transform: scaleY(1);
}

.spinner-img {
  width: 100px;
  animation: spin 1s linear infinite;
  transition: opacity 1s;
}

.spinner-loader.closed {
  transform: scaleY(0);
}

.spinner-img.closed {
  opacity: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Window */

div.window-container {
  min-height: 100vh;
  background-color: var(--main-bg-color);
  color: var(--main-txt-color);
  /* transition: 0.6s; */
}

div.window-container a, div.window-container a:visited {
  text-decoration: none;
  color: var(--link-color);
}
div.window-container a:hover, div.window-container a:visited:hover {
  text-decoration: underline;
}

div.window-container.dark {
  background-color: var(--dark-bg-color);
  color: var(--dark-txt-color); 
}

div.window-container.dark a {
  color: var(--dark-link-color);
}

/* Header */
header {
  background-color: var(--main-secondary-color);
  backdrop-filter: blur(8px);
  z-index: 5;
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0px;
}

header.dark p{
  color: var(--main-txt-color);
}

header.dark a, header.dark a:visited {
  color: var(--main-txt-color) !important;
}

header .header-container {
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

header a {
  text-decoration: none;
  color: var(--link-color);
}

header a:hover, header a:focus {
  text-decoration: underline;
}

p.logo-name {
  font-weight: 650;
  font-size: 20px;
  letter-spacing: normal;
}

header ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 15px;
}

header label {
  cursor: pointer;
  width: 35px;
  height: 20px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow: inset 0px 1px 2px rgba(0,0,0,0.4), inset 0px -1px 2px rgba(255,255,255,0.4);
  transition: 0.3s;
}

header label:after {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  top: 1px;
  left: 1px;
  background: linear-gradient(180deg, #ffcc89, #d8869b);
  border-radius: 180px;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
  transition: 0.3s;
}

header input {
  width: 0;
  height: 0;
  visibility: hidden;
}

header input:checked + label {
  background-color: #242424;
}

header input:checked + label:after{
  left: 15px;
  transform: translateX(-20);
  background: linear-gradient(180deg, #777, #3a3a3a);
}

/* Main content */

#about, #work, #contact {
  scroll-margin-top: 3em;
}

div.main-container {
  max-width: 600px;
  padding: 0px 15px 0px 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

div.greeting {
  background-color: var(--main-secondary-color);
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

div.greeting.dark {
  color: var(--dark-txt-color);
  background-color: rgba(255,255,255,0.1);
}

div.name-card-container {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 30px;
  font-weight: 650;
  margin-bottom: 12px;
}

h2 {
  font-weight: 650;
  margin-top: 20px;
  margin-bottom: 12px;
}

p {
  letter-spacing: 1px;
  line-height: 1.5em;
}

img.my-photo {
  border-radius: 50%;
  border: solid 2px var(--main-secondary-color);
  width: 120px;
  height: 120px;
}

/* Tech stack */
h3.stack-heading {
  position: relative;
  max-width: 300px;
  margin: 34px auto 20px auto;
  text-align: center;
}

h3.stack-heading:before {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 100px;
  background-color: #1a202c;
  top: 50%;
  left: 0;
}

h3.stack-heading.dark:before{
  background-color: var(--dark-txt-color);
}

h3.stack-heading:after{
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 100px;
  background-color: #1a202c;
  top: 50%;
  right: 0;
}

h3.stack-heading.dark:after {
  background-color: var(--dark-txt-color);
}

.skills-container {
  position: relative;
  height: auto;
}

button.more-skills {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  border: none;
  background-color: transparent;
  padding: 5px;
  color: var(--link-color);
}

button.more-skills.dark {
  color: var(--dark-link-color);
}

button.more-skills:hover {
  text-decoration: underline;
  cursor: pointer;
}

.skills-wrapper {
  margin-bottom: 12px;
  transition: all 0.6s ease-in-out;
  transform-origin: top;
}


/* Projects */


.projects-container {
  margin-top: 20px;
}

.project-wrapper {
  margin: 24px 0px 100px 0px;
  display: grid;
  grid-template-columns: auto 50px 1fr;
  grid-template-rows: auto auto 1fr 20px;
  column-gap: 12px;
  position: relative;
  /* this is in question */
  /* text-align: end; */
}

.view-overlay {
  pointer-events: none;
  position: absolute;
  background-color: black;
  opacity: 0.5;
  left: 3px;
  top: 8px;
  width: 294px;
  height: 176px; 
  z-index: 1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s;
}

.view-overlay.show {
  transform: scaleX(1);
}

.view-text {
  pointer-events: none;
  position: absolute;
  color: white;
  z-index: 2;
  left: 130px;
  top: 80px;
  opacity: 0;
  text-align: center;
  transition: opacity 0.5s;
}

.view-text.show {
  opacity: 1;
}


.projects-container .pc-image {
  width: 300px;
  grid-row: 1 / 5;
  align-self: end;
  cursor: pointer;
}

.projects-container .phone-image {
  width: 80px;
  grid-row: 1 / 5;
  position: relative;
  right: 40px;
  align-self: end;
  z-index: 2;
}

.project-title {
  text-decoration: none;
  color: var(--link-color);
  font-size: 22px;
  grid-column: 3;
  grid-row: 1;
}

.project-title:hover {
  text-decoration: underline;
}

.project-stack {
  font-size: 12px;
  grid-column: 3;
  grid-row: 2;
  margin-top: 6px;
}

.stack-wrapper {
  margin-bottom: 24px;
}

.stack-wrapper.second {
  /* padding: 0px 110px; */
  margin-bottom: 40px;
}

.project-description {
  margin-top: 18px;
  grid-column: 3;
  grid-row: 3;
}

.project-github-link{
  font-size: 12px;
  text-align: end;
  text-decoration: none;
  grid-column: 3;
  grid-row: 4;
  width: 120px;
  justify-self: end;
  align-self: center;
  cursor: pointer;
  background-color: transparent;
  color: var(--link-color);
  border: none;
}

.project-github-link:hover {
  text-decoration: underline;
}

.project-github-icon {
  align-self: center;
  grid-column: 3;
  grid-row: 4;
  justify-self: end;
  margin-right: 84px;
  position: relative;
  bottom: 1px;
}

/* Other projects */
ul.other-projects li{
  margin: 10px 0;
}


/* Three js */

.three-js {
  margin-left: auto;
  margin-right: auto;
}

.three-js canvas {
  margin: -20px auto -60px auto;
}

/* Hobbies */

.hobbies-header {
  margin-top: 36px;
}

.contact-header {
  margin-top: 36px;
}

.contact-list li {
  margin: 10px 0;
}

section.contact-section {
  margin-bottom: 35px;
}

.rights {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 12px;
  color: rgba(0,0,0,0.5);
  margin-bottom: 20px;
}

.rights.dark {
  color: rgba(255,255,255,0.5);
}

/* Phone CSS */

@media (max-width: 900px) {

  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 50px 30px !important;
  }

  .spinner-loader {
    display: none;
  }

  .three-js {
    display: none;
  }

  .project-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
  }

  .view-overlay {
    display: none;
  }

  .projects-container .pc-image { 
    grid-column: 1;
    justify-self: center;
    grid-row: 1 / 2;
  }

  .projects-container .phone-image {
    grid-column: 1;
    justify-self: center;
    left: 100px;
    grid-row: 1 / 2;
  }

  .project-title {
    justify-self: center;
    grid-row: 2 / 3;
    grid-column: 1;
    margin: 15px 0px;
    margin-top: 30px;
  }

  .project-stack {
    grid-row: 3 / 4;
    grid-column: 1;
    margin: 15px 0px;
    justify-self: center;
  }

  .project-description {
    grid-column: 1;
    grid-row: 4 / 5;
    margin: 15px 0px
  }

  .project-github-link{
    grid-column: 1;
    grid-row: 5 / 6;
    margin: 15px 0px
  }

  .project-github-icon{
    grid-row: 5 / 6;
    grid-column: 1;
  }

  .greeting {
    width: 100%;
  }

  .contact-header {
    text-align: center;
  }

  .header-container .pc-nav{
    display: none;
  }

  .phone-nav-container.active {
    display: block;
    position: fixed;
    z-index: 14;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
  }

  .phone-nav {
    background-color: #161616;
    display: block;
    position: fixed;
    width: 45vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    z-index: 15;
    padding: 80px 20px;
    min-width: 120px;
    font-size: 30px;
    transform: translateX(-50vw);
    transition: 0.3s;
  }

  .phone-nav.active {
    transform: translateX(0);
  }

  .phone-nav li {
    list-style-type: none;
    margin-bottom: 30px;
  }

  .phone-nav a {

    color: var(--dark-txt-color) !important;
  }

  img.mobile-menu {
    display: block;
    width: 30px;
  }

  h2 {
    margin-top: 100px !important;
  }

  h2#about {
    margin-top: 50px !important;
  }

  h3.stack-heading {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
  }
  
}