* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  --main-bg-color: #f0e7db;
  --main-txt-color: #1a202c;
  --main-secondary-color: #ffeded;
}

div.window-container {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--main-bg-color);
  color: var(--main-txt-color);
}

/* Header */
header {
  background-color: var(--main-secondary-color);
  padding: 10px;
}

header .header-container {
  max-width: 700px;
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  
}

header ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 10px;
}

button.theme-button {
  cursor: pointer;
  width: 30px;
  height: 20px;
}

/* Main content */

div.main-container {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}

div.greeting {
  background-color: var(--main-secondary-color);
  padding: 10px;
  text-align: center;
}

div.name-card-container {
  display: flex;
  justify-content: space-between;
}

img.my-photo {
  border-radius: 50%;
  border: solid 2px var(--main-secondary-color);
  width: 120px;
  height: 120px;
}

/* Tech stack */
h3.stack-heading {
  position: relative;
  max-width: 300px;
  margin: 20px auto;
  text-align: center;
}

h3.stack-heading:before {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 100px;
  background-color: #1a202c;
  top: 50%;
  left: 0;
}

h3.stack-heading:after{
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 100px;
  background-color: #1a202c;
  top: 50%;
  right: 0;
}